body{
    background-color: rgb(231, 233, 253);
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 130px;
    font-size: 480%;
    font-weight: bold;
    font-style: italic;
    color: midnightblue;
}

.elements-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-weight: 300;
    text-align: center;
    font-size: 1.2em;
}

.square {
    pointer-events: none;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 14px;
}

.green {
    background-color: green;
    background-image: none;
}

.red {
    background-color: red;
    background-image: none;
}

.yellow {
    background-color: yellow;
    background-image: none;
}

.black {
    background-color: black;
    background-image: none;
}

#special {
    background-color: lightblue;
    background-image: none;
}

button {
    background-color: rgb(233, 178, 12);
    background-image: none;
    color: black;
    margin: 12px;
    padding: 20px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(193, 59, 193);
    transform: scale(1.2);
}

.controls-container {
    margin-top: 300px;
    margin-bottom: 40px;
    display: flex;  
    justify-content: center;
}